<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/connectors"
            factory-class="org.knime.ext.microsoft.authentication.node.auth.MicrosoftAuthenticationNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#4386f7"
            hidden="false"
            name="Microsoft Credential"
            objectClass="org.knime.ext.microsoft.authentication.port.MicrosoftCredentialPortObject"
            objectSerializer="org.knime.ext.microsoft.authentication.port.MicrosoftCredentialPortObject$Serializer"
            specClass="org.knime.ext.microsoft.authentication.port.MicrosoftCredentialPortObjectSpec"
            specSerializer="org.knime.ext.microsoft.authentication.port.MicrosoftCredentialPortObjectSpec$Serializer">
      </portType>
   </extension>
</plugin>
