<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/"
            factory-class="org.knime.ext.sharepoint.lists.node.reader.SharepointListReaderNodeFactory"
            id="org.knime.ext.sharepoint.filehandling.node.listreader.SharepointListReaderNodeFactory"/>
      <node
            category-path="/labs/"
            factory-class="org.knime.ext.sharepoint.lists.node.writer.SharepointListWriterNodeFactory"
            id="org.knime.ext.sharepoint.lists.node.writer.SharepointListWriterNodeFactory"/>
   </extension>
</plugin>
