<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/connectors"
            factory-class="org.knime.ext.sharepoint.filehandling.node.SharepointConnectionNodeFactory"
            id="org.knime.ext.sharepoint.filehandling.nodes.connection.SharepointConnectionNodeFactory"/>
      <node
            category-path="/io/connectors"
            factory-class="org.knime.ext.sharepoint.filehandling.node.listreader.SharepointListReaderNodeFactory"
            id="org.knime.ext.sharepoint.filehandling.node.listreader.SharepointListReaderNodeFactory"/>
      <node
            category-path="/io/connectors"
            factory-class="org.knime.ext.sharepoint.filehandling.node.listreaderold.ListReaderNodeFactory"
            id="org.knime.ext.sharepoint.filehandling.node.listreaderold.ListReaderNodeFactory"/>
   </extension>
   <extension
         point="org.knime.filehandling.core.FSDescriptorProvider">
      <FSDescriptorProvider
            class="org.knime.ext.sharepoint.filehandling.fs.SharepointFSDescriptorProvider">
      </FSDescriptorProvider>
   </extension>
</plugin>
